ion-content{
  --background: rgb(207,158,152);
  --background: linear-gradient(180deg, rgba(207,158,152,0.7906512946975666) 0%, rgba(255,189,96,1) 70%);

  form{
    button{
      display: block;
      margin: auto;
    }
  }
}