<ion-content>

  <div style="width: 40%; margin: auto; margin-top: 50px;">
    <img src="assets/logo.png">
  </div>

  <div class="login-form" style="width: 65%; margin: auto; margin-top: 5%;">
    <form>
     
    
      <br>

      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput   #email
               placeholder="Ex. pat@example.com">
        <mat-hint>Errors appear instantly!</mat-hint>
      </mat-form-field>
      
      <br>

      <button mat-button color="primary">Send Email</button>
      <button mat-button color="primary" routerLink="/">login </button>

    </form>
  </div>

</ion-content>
